<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>401</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="error-style/400-error-style.css" rel="stylesheet" th:href="@{/error-style/400-error-style.css}"/>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<section class="error_section">
    <p class="error_section_subtitle">Unauthorized !</p>
    <h1 class="error_title">
        <p>401</p>
        401
    </h1>
    <a href="/" class="btn">Back to home</a>
</section>

<script type="text/javascript">
    const title = document.querySelector('.error_title');

    //////// Light //////////
    document.onmousemove = function (e) {
        let x = e.pageX - window.innerWidth / 2;
        let y = e.pageY - window.innerHeight / 2;

        title.style.setProperty('--x', x + 'px');
        title.style.setProperty('--y', y + 'px');
    };

    ////////////// Shadow ///////////////////
    title.onmousemove = function (e) {
        let x = e.pageX - window.innerWidth / 2;
        let y = e.pageY - window.innerHeight / 2;

        let rad = Math.atan2(y, x).toFixed(2);
        let length = Math.round(Math.sqrt((Math.pow(x, 2)) + (Math.pow(y, 2))) / 10);

        let x_shadow = Math.round(length * Math.cos(rad));
        let y_shadow = Math.round(length * Math.sin(rad));

        title.style.setProperty('--x-shadow', -x_shadow + 'px');
        title.style.setProperty('--y-shadow', -y_shadow + 'px');

    };
</script>
</body>
</html>