.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.own-btn {
    border: none;
}

.icon-setting{
    font-size:30px;
    position: absolute;
    right: 25px;
    top: 25px;
}

.icon-own-key{
    font-size:30px;
    position: absolute;
    left: 25px;
    top: 25px;
}

.profile-content {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: relative;
    z-index: 1;
    background-color: #f5f9fa;
    border: 1px solid #d8d8d8;
    padding: 50px 100px;
    box-shadow: 0 2px 70px 0 rgba(0, 0, 0, 0.15);
    text-align: center;}
@media only screen and (max-width: 767px) {
    .login-content {
        padding: 50px 30px; } }
.login-content h3 {
    margin-bottom: 30px; }
.login-content .form-group {
    text-align: left; }
.login-content .form-control {
    width: 100%;
    height: 50px;
    border: 1px solid #000000;
    font-size: 12px;
    font-style: italic;
    padding: 0 20px;
    border-radius: 0; }
.login-content .form-control:focus {
    box-shadow: none; }