<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/theme/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body sec:authorize="hasRole('ROLE_ADMIN')">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">RidePal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" type="button" id="pl">Playlists </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" type="button" id="us">Users </a>
            </li>
            <li class="nav-item">
                <form th:action="@{/admin/sync}" th:method="post">
                <ul class="dropdown-submenu">
                    <a class="nav-link" tabindex="-1" href="#">Update tracks</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <select th:name="genreid" class="custom-select">
                            <!--<a th:text="${genre.name}" href="#">More..</a>-->
                                <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}">Genre</option>
                                <ul class="dropdown-menu">
                                    <ul>
                                        <li><input type="number" min="1" max="500" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:name="songs"></li>
                                        <li><button type="submit">Click Me!</button></li>
                                    </ul>
                                </ul>
                            </select>
                        </li>
                    </ul>
                </ul>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="card text-center mx-auto" style="width: 26rem;border: none;">
    <div class="card-body">
        <h1 class="card-title">Welcome to Admin Panel</h1>
        <p class="card-text">Here you can edit or delete playlists and users. By clicking 'Update tracks' button you can save tracks for certain genre. 'Sync genres' button let you synchronize genres.</p>
        <a href="/playlists" class="btn btn-secondary">Browse playlists</a>
    </div>
</div>
<div class="table-responsive" id="tableplaylists" style="display: none">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Playtime</th>
            <th>Rank</th>
            <th>Genres</th>
            <th>Tracks</th>
            <th>Opp</th>
        </tr>
        </thead>
        <tbody th:each="playlist : ${playlists}">
        <tr>
            <td th:text="${playlist.id}"></td>
            <td th:text="${playlist.title}"></td>
            <td th:text="${playlist.playtime}"></td>
            <td th:text="${playlist.rank}"></td>
            <td>
                <span th:each="genre : ${playlist.getGenres()}" th:text="${genre.name} + '&nbsp;'"></span>
            </td>
            <td th:text="${playlist.tracks.size()}"></td>
            <td>
                <div class="btn-group">
                    <form th:action="@{/admin/playlists/__${playlist.id}__/edit}">
                        <input type="submit" class="btn btn-outline-primary" value="Edit"/>
                    </form>

                    <form th:action="@{/admin/playlists/__${playlist.id}__/delete}" th:method="post" class="pl-3">
                        <input type="submit" class="btn btn-outline-primary" value="Delete"/>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="table-responsive" id="tableusers" style="display: none">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Opp</th>
        </tr>
        </thead>
        <tbody th:each="user : ${users}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td>
                <div class="btn-group">
                    <form th:action="@{/admin/users/__${user.id}__/edit}">
                        <input type="submit" class="btn btn-outline-primary" value="Edit"/>
                    </form>
                    <form th:action="@{/admin/users/__${user.id}__/delete}" th:method="post" class="pl-3">
                        <input type="submit" class="btn btn-outline-primary" value="Delete"/>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script>

    $("#pl").on("click",function(e) {
        e.preventDefault();

        $("#tableplaylists").show();
        $("#tableusers").hide();
    });

    $("#us").on("click",function(e) {
        e.preventDefault();
        $("#tableusers").show();
        $("#tableplaylists").hide();
    });
</script>
<script>
    // Get the modal
    var modal = document.getElementById('editform');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>