<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Ride Pal</title>

    <!-- Favicon -->
    <link rel="icon" th:href="@{/theme/img/core-img/favicon.ico}">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/theme/style.css}"/>

</head>

<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a href="/" class="nav-brand">RidePal</a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/playlists">Playlists</a></li>
                                <li><a href="/genres">Genres</a></li>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/registration">Registration</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay"
         style="background-image: url(/theme/img/bg-img/breadcumb3.jpg);">
</section>
<!-- ##### Breadcumb Area End ##### -->

<section class="login-area section-padding-100">
    <div class="text-center">
        <h2 class="lead"><strong>You have successfully delete your account.</strong></h2>
        <hr>
    </div>
</section>

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area"></footer>
<!-- ##### Footer Area Start ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script type="text/javascript" th:src="@{/theme/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script type="text/javascript" th:src="@{/theme/js/bootstrap/popper.min.js}"></script>
<!-- Bootstrap js -->
<script type="text/javascript" th:src="@{/theme/js/bootstrap/bootstrap.min.js}"></script>
<!-- All Plugins js -->
<script type="text/javascript" th:src="@{/theme/js/plugins/plugins.js}"></script>
<!-- Active js -->
<script type="text/javascript" th:src="@{/theme/js/active.js}"></script>
</body>

</html>