<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Edit Profile</title>

    <!-- Favicon -->
    <link rel="icon" th:href="@{/theme/img/core-img/favicon.ico}">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{/theme/style.css}"/>
</head>

<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a href="/" class="nav-brand">RidePal</a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/playlists">Playlists</a></li>
                                <li><a href="/genres">Genres</a></li>
                                <li><a href="/profile">Profile</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay"
         style="background-image: url(/theme/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>Edit Your Information</h2>
        <br/>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <!-- Registration Form -->
                    <div class="login-form">
                        <!--                        <p>-->
                        <!--                            <i th:if="${error != null}" th:text="${error}" class="error"></i>-->
                        <!--                        </p>-->
                        <form th:action="@{/profile/__${id}__/change-password}" th:object="${password}" method="post"
                              enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Old Password</label>
                                <input type="password" class="form-control" id="exampleInputOldPassword1"
                                       th:field="*{oldPassword}" placeholder="Old Password">
                                <label class="error" th:errors="*{oldPassword}"/>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">New Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                       th:field="*{newPassword}" placeholder="New Password">
                                <label class="error" th:errors="*{newPassword}"/>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputConfirmPassword1">Confirm New Password</label>
                                <input type="password" class="form-control" id="exampleInputConfirmPassword1"
                                       th:field="*{confirmNewPassword}" placeholder="Confirm New Password">
                                <label class="error" th:errors="*{confirmNewPassword}"/>
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area"></footer>
<!-- ##### Footer Area Start ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script type="text/javascript" th:src="@{/theme/js/jquery/jquery-2.2.4.min.js}"></script>

<!-- Popper js -->
<script type="text/javascript" th:src="@{/theme/js/bootstrap/popper.min.js}"></script>

<!-- Bootstrap js -->
<script type="text/javascript" th:src="@{/theme/js/bootstrap/bootstrap.min.js}"></script>

<!-- All Plugins js -->
<script type="text/javascript" th:src="@{/theme/js/plugins/plugins.js}"></script>

<!-- Active js -->
<script type="text/javascript" th:src="@{/theme/js/active.js}"></script>

</body>

</html>