<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Genres</title>
    <!-- Favicon -->
    <link rel="icon" href="theme/img/core-img/favicon.ico">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="theme/style.css">
</head>
<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a href="/" class="nav-brand">RidePal</a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/playlists">Playlists</a></li>
                                <li><a href="/genres">Genres</a></li>
                                <li th:action="@{/login}" sec:authorize="!isAuthenticated()" th:method="get"><a
                                        href="/login">Login</a></li>
                                <li th:action="@{/login}" sec:authorize="!isAuthenticated()" th:method="get"><a
                                        href="/registration">Registration</a></li>
                                <li th:action="@{/logout}" sec:authorize="isAuthenticated()" th:method="post"><a
                                        href="/profile">Profile</a></li>
                                <li th:action="@{/logout}" sec:authorize="isAuthenticated()" th:method="post">
                                    <a th:href="@{/logout}">Logout</a>
                                </li>
                            </ul>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(theme/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>Genres</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Events Area Start ##### -->
<section class="events-area section-padding-100">
    <div class="container">
        <div class="row">
            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4" th:each="genre : ${genres}">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <img th:src="${genre.picture}" alt="">
                    </div>
                    <div class="event-text">
                        <h4 th:text="${genre.name}"></h4>
                        <a th:href="@{/playlists(genre=${genre.name})}" class="btn see-more-btn">See playlists</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Events Area End ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="theme/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="theme/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="theme/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="theme/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="theme/js/active.js"></script>
</body>
</html>