<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Ride Pal</title>
    <!-- Favicon -->
    <link rel="icon" href="theme/img/core-img/favicon.ico">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="theme/style.css">
</head>

<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <!--                        <a href="index.html" class="nav-brand"><img src="theme/img/core-img/logo.png" alt=""></a>-->
                    <a href="/" class="nav-brand">RidePal</a>
                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/playlists">Playlists</a></li>
                                <li><a href="/genres">Genres</a></li>
                                <li th:action="@{/login}" sec:authorize="!isAuthenticated()" th:method="get"><a
                                        href="/login">Login</a></li>
                                <li th:action="@{/login}" sec:authorize="!isAuthenticated()" th:method="get"><a
                                        href="/registration">Registration</a></li>
                                <li th:action="@{/logout}" sec:authorize="isAuthenticated()" th:method="get"><a
                                        href="/profile">Profile</a></li>
                                <li sec:authorize="hasRole('ROLE_ADMIN')"><a
                                        href="/admin">Admin Panel</a></li>
                                <li th:action="@{/logout}" sec:authorize="isAuthenticated()" th:method="post">
                                    <a th:href="@{/logout}">Logout</a>
                                </li>
                            </ul>

                            <!-- Login/Register -->
                            <!--<div class="login-register-cart-button d-flex align-items-center">
                                &lt;!&ndash; Login/Register &ndash;&gt;
                                <div class="login-register-btn mr-15">
                                    <a href="login" id="loginBtn">Login</a>
                                </div>
                                <div class="login-register-btn mr-50">
                                    <a href="theme/login.html" id="loginBtn">Register</a>
                                </div>
                            </div>-->
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Hero Area Start ##### -->
<section class="hero-area">
    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url(theme/img/bg-img/bg-1.jpg);"></div>
            <!-- Slide Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms">Latest playlist</h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms" th:text="${lastPlaylist.title}"><span>Beyond Time</span>
                            </h2>
                            <a data-animation="fadeInUp" data-delay="500ms"
                               th:href="@{/playlists/__${lastPlaylist.id}__}" class="btn oneMusic-btn mt-50">Listen it
                                <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url(theme/img/bg-img/bg-2.jpg);"></div>
            <!-- Slide Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms">Top playlist</h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms" th:text="${topPlaylist.title}"><span>Colorlib Music</span>
                            </h2>
                            <a data-animation="fadeInUp" data-delay="500ms"
                               th:href="@{/playlists/__${topPlaylist.id}__}" class="btn oneMusic-btn mt-50">Listen it <i
                                    class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-hero-slide d-flex align-items-center justify-content-center" sec:authorize="isAuthenticated()">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url(theme/img/bg-img/bg-3.jpg);"></div>
            <!-- Slide Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms">Soundtrack your Ride</h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms">Generate your own playlist </h2>
                            <a data-animation="fadeInUp" data-delay="500ms" href="#" class="btn oneMusic-btn mt-50" onclick="myFunction()">Generate
                                <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Hero Area End ##### -->

<!-- ##### Latest Albums Area Start ##### -->
<section class="latest-albums-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <h2>Top ranked Playlists</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="albums-slideshow owl-carousel">
                    <!-- Single Album -->
                    <div class="single-album" th:each="playlist : ${playlists}">
                        <img th:if="${playlist.picture!=null and not#lists.isEmpty(playlist.picture)}"
                             th:src="${playlist.picture}" alt="">
                        <img th:if="${playlist.getPicture()==null||#lists.isEmpty(playlist.picture)}"
                             src="theme/img/bg-img/a1.jpg" alt="">
                        <div class="album-info">
                            <a th:href="@{/playlists/__${playlist.id}__}">
                                <h5 th:text="${playlist.title}">Playlist</h5>
                            </a>
                            <p th:text="${'Rank:' + playlist.rank}">Playlist rank</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Latest Albums Area End ##### -->

<!-- ##### Buy Now Area Start ##### -->
<section class="oneMusic-buy-now-area has-fluid bg-gray section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <h2>Our genres</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Album Area -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-2" th:each="genre : ${genres.stream().limit(12).toArray()}">
                <div class="single-album-area wow fadeInUp" data-wow-delay="600ms">
                    <div class="album-thumb">
                        <img th:src="${genre.picture}" alt="">
                    </div>
                    <div class="album-info">
                        <a href="#">
                            <h5 th:text="${genre.name}"></h5>
                        </a>
                        <p>Buble Gum</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="load-more-btn text-center wow fadeInUp" data-wow-delay="300ms">
                    <a href="/genres" class="btn oneMusic-btn">Load More <i class="fa fa-angle-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Buy Now Area End ##### -->

<!-- ##### Featured Artist Area Start ##### -->

<!-- ##### Featured Artist Area End ##### -->

<!-- ##### Miscellaneous Area Start ##### -->

<!-- ##### Miscellaneous Area End ##### -->

<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img"
         style="background-image: url(theme/img/bg-img/bg-2.jpg);" id="content" sec:authorize="isAuthenticated()">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading white wow fadeInUp" data-wow-delay="100ms">
                    <h2>Generate your playlist</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Contact Form Area -->
                <div class="contact-form-area">
                    <form action="#" method="post" th:action="@{/}" th:object="${playlist}" >
                        <div class="row">
                            <div class="col-12 pt-5">
                                <div class="section-heading white wow fadeInUp" data-wow-delay="100ms">
                                    <h2>From:</h2>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                                    <label class="error" th:errors="*{fromCountry}"/>
                                    <input class="form-control section-heading" th:field="*{fromCountry}"
                                           placeholder="Country" type="text" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                    <label class="error" th:errors="*{fromCity}"/>
                                    <input class="form-control section-heading" th:field="*{fromCity}"
                                           placeholder="City" type="text" required>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group wow fadeInUp" data-wow-delay="300ms">
                                    <label class="error" th:errors="*{fromAddress}"/>
                                    <input class="form-control section-heading" th:field="*{fromAddress}"
                                           placeholder="Address" type="text" required>
                                </div>
                            </div>
                            <div class="col-12 pt-5">
                                <div class="section-heading white wow fadeInUp" data-wow-delay="100ms">
                                    <h2>To:</h2>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                                    <label class="error" th:errors="*{toCountry}"/>
                                    <input class="form-control section-heading" th:field="*{toCountry}"
                                           placeholder="Country" type="text" required>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                    <label class="error" th:errors="*{toCity}"/>
                                    <input class="form-control section-heading" th:field="*{toCity}"
                                           placeholder="City" type="text" required>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group wow fadeInUp" data-wow-delay="300ms">
                                    <label class="error" th:errors="*{toAddress}"/>
                                    <input class="form-control section-heading" th:field="*{toAddress}"
                                           placeholder="Address" type="text" required>
                                </div>
                            </div>
                            <div class="col-12 pt-5">
                                <div class="d-flex justify-content-center section-heading white wow fadeInUp"
                                     data-wow-delay="100ms">
                                    <h2>Playlist title:</h2>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-flex justify-content-center">
                                    <div class="form-group wow fadeInUp col-md-8 col-lg-8" data-wow-delay="100ms">
                                        <label class="error" th:errors="*{title}"/>
                                        <input class="form-control section-heading" th:field="*{title}"
                                               placeholder="Playlist title" type="text" required>
                                    </div>
                                </div>
                            </div>
                            <div class="inputGroup pt-2" style="height: 45px;width: 500px;">
                                <input th:field="*{allowSameArtists}" id="option1" name="option1" type="checkbox"/>
                                <label for="option1" style="font-weight: bolder;color: white">Allow same artists</label>
                            </div>
                            <div class="inputGroup pl-5 pt-2" style="height: 45px;width: 500px">
                                <input th:field="*{allowSameArtists}" id="option2" name="option2" type="checkbox"/>
                                <label for="option2" style="font-weight: bolder;color: white">Use top ranked tracks</label>
                            </div>
                            <div class="row col-12 pt-5">
                            <div class="col-lg-4 form-group" th:each="genre : ${activeGenres}" th:id="${genre.name}">
                                <div class="section-heading white wow fadeInUp input-group" data-wow-delay="100ms">
                                    <label th:text="${genre.name}" style="font-weight: bolder;color: white"></label>
                                    <input type="number" min="0" max="100" class="form-control" aria-label="" name="percents" value="0" placeholder="%"/>
                                    <input  type="hidden" name="genres" th:value="${genre.id}"/>
                                </div>
                            </div>
                            </div>
                            <div class="col-12 text-center wow fadeInUp" data-wow-delay="500ms">
                                <button class="btn oneMusic-btn mt-30" type="submit">Create <i
                                        class="fa fa-angle-double-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->

<!-- ##### Footer Area Start ##### -->

<!-- ##### Footer Area Start ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script>
    function myFunction() {
        var elmnt = document.getElementById("content");
        elmnt.scrollIntoView();
    }
</script>
<script src="theme/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="theme/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="theme/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="theme/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="theme/js/active.js"></script>
</body>

</html>