<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Playlists</title>
    <!-- Favicon -->
    <link rel="icon" href="theme/img/core-img/favicon.ico">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="theme/style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a href="/" class="nav-brand">RidePal</a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/playlists">Playlists</a></li>
                                <li><a href="/genres">Genres</a></li>
                                <li th:action="@{/login}" sec:authorize="!isAuthenticated()" th:method="get"><a
                                        href="/login">Login</a></li>
                                <li th:action="@{/login}" sec:authorize="!isAuthenticated()" th:method="get"><a
                                        href="/registration">Registration</a></li>
                                <li th:action="@{/logout}" sec:authorize="isAuthenticated()" th:method="post"><a
                                        href="/profile">Profile</a></li>
                                <li th:action="@{/logout}" sec:authorize="isAuthenticated()" th:method="post">
                                    <a th:href="@{/logout}">Logout</a>
                                </li>
                            </ul>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(theme/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <p>Browse our playlists</p>
        <h3>Hottest Playlists</h3>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<section class="events-area pt-5" style="height: 150px;">
    <div class="container border">
        <form th:action="@{/playlists}">
            <div class="row d-flex align-items-center">
            <div class="col-lg-4 d-flex justify-content-center align-items-center">
                <select id="mounth" th:name="genre">
                    <option value="" selected disabled>-- Genre --</option>
                    <option th:each="genre : ${genres}" th:value="${genre.name}" th:text="${genre.name}">Genre</option>
                </select>
            </div>

            <div class="col-lg-4">
                <p>
                    <label for="amount">Duration: </label>
                    <input th:name="duration" type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                </p>
                <div id="slider-range"></div>
            </div>


            <div class="col-lg-4">
                <!--<input type="text" th:name="title" class="searchTerm" placeholder="Search your playlist .." style="width: 50%">-->
                <input type="text" th:name="title" placeholder="Search your playlist .." aria-describedby="button-addon" class="form-control border-success">
            </div>
            </div>
            <div class="row pt-3 d-flex align-items-center">
            <div class="col-lg-12 d-flex justify-content-center align-items-center" style="height: 60px;">
                <button type="submit" class="btn btn-light align-self-center mx-auto" style="height: 47px">Filter playlists</button>
            </div>
            </div>
        </form>
    </div>
</section>
<!-- ##### Events Area Start ##### -->
<section class="events-area section-padding-100">
    <div class="container">
        <div class="row">
            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4" th:each="playlist : ${playlists}">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <img th:src="${playlist.picture}" alt="">
                    </div>
                    <div class="event-text">
                        <h4 th:text="${playlist.title}"></h4>
                        <div class="event-meta-data">
                            <a href="#" class="event-place" th:text="${'Duration: ' + playlist.getDurationString()}"></a>
                            <a href="#" class="event-date" th:text="${'Rank: ' + playlist.rank}"></a>
                        </div>
                        <a th:href="@{/playlists/__${playlist.id}__}" class="btn see-more-btn">Listen it </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ##### Events Area End ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="theme/js/jquery/jquery-2.2.4.min.js"></script>

<!-- Popper js -->
<script src="theme/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="theme/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="theme/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="theme/js/active.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $( function() {
        $( "#slider-range" ).slider({
            range: true,
            min: 0,
            max: 100000,
            values: [ 0, 0 ],
            slide: function( event, ui ) {
                $( "#amount" ).val(ui.values[ 0 ] + "-" + ui.values[ 1 ] );
            }
        });
        $( "#amount" ).val($( "#slider-range" ).slider( "values", 0 ) +
            "-" + $( "#slider-range" ).slider( "values", 1 ) );
    } );
</script>
<script>
    /*
Reference: http://jsfiddle.net/BB3JK/47/
*/

    $('select').each(function(){
        var $this = $(this), numberOfOptions = $(this).children('option').length;

        $this.addClass('select-hidden');
        $this.wrap('<div class="select"></div>');
        $this.after('<div class="select-styled"></div>');

        var $styledSelect = $this.next('div.select-styled');
        $styledSelect.text($this.children('option').eq(0).text());

        var $list = $('<ul />', {
            'class': 'select-options'
        }).insertAfter($styledSelect);

        for (var i = 0; i < numberOfOptions; i++) {
            $('<li />', {
                text: $this.children('option').eq(i).text(),
                rel: $this.children('option').eq(i).val()
            }).appendTo($list);
        }

        var $listItems = $list.children('li');

        $styledSelect.click(function(e) {
            e.stopPropagation();
            $('div.select-styled.active').not(this).each(function(){
                $(this).removeClass('active').next('ul.select-options').hide();
            });
            $(this).toggleClass('active').next('ul.select-options').toggle();
        });

        $listItems.click(function(e) {
            e.stopPropagation();
            $styledSelect.text($(this).text()).removeClass('active');
            $this.val($(this).attr('rel'));
            $list.hide();
            //console.log($this.val());
        });

        $(document).click(function() {
            $styledSelect.removeClass('active');
            $list.hide();
        });

    });
</script>
</body>
</html>