<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Mixtape</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Mixtape template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/mixtape/styles/bootstrap-4.1.2/bootstrap.min.css">
    <link href="/mixtape/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/mixtape/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/mixtape/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="/mixtape/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="/mixtape/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/mixtape/styles/responsive.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="super_container">
    <header class="header">
        <div class="header_content d-flex flex-row align-items-center justify-content-center">
            <div class="logo"><a href="/">RidePal</a></div>
            <div class="log_reg">
                <ul class="d-flex flex-row align-items-start justify-content-start">
                    <li th:action="@{/login}" sec:authorize="!isAuthenticated()" th:method="get"><a
                            href="/login">Login</a></li>
                    <li th:action="@{/login}" sec:authorize="!isAuthenticated()" th:method="get"><a
                            href="/registration">Registration</a></li>
                    <li th:action="@{/logout}" sec:authorize="isAuthenticated()" th:method="get"><a
                            href="/profile">Profile</a></li>
                    <li th:action="@{/logout}" sec:authorize="isAuthenticated()" th:method="post">
                        <a th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
            <nav class="main_nav">
                <ul class="d-flex flex-row align-items-start justify-content-start">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/playlists">Playlists</a></li>
                    <li><a href="/genres">Genres</a></li>
                </ul>
            </nav>
            <div class="hamburger ml-auto">
                <div class="d-flex flex-column align-items-end justify-content-between">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </header>

    <!-- Menu -->

    <div class="menu">
        <div>
            <div class="menu_overlay"></div>
            <div class="menu_container d-flex flex-column align-items-start justify-content-center">
                <div class="menu_log_reg">
                    <ul class="d-flex flex-row align-items-start justify-content-start">
                        <li th:action="@{/login}" sec:authorize="!isAuthenticated()" th:method="get"><a
                                href="/login">Login</a></li>
                        <li th:action="@{/login}" sec:authorize="!isAuthenticated()" th:method="get"><a
                                href="/registration">Registration</a></li>
                        <li th:action="@{/logout}" sec:authorize="isAuthenticated()" th:method="get"><a
                                href="/profile">Profile</a></li>
                        <li th:action="@{/logout}" sec:authorize="isAuthenticated()" th:method="post">
                            <a th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </div>
                <nav class="menu_nav">
                    <ul class="d-flex flex-column align-items-start justify-content-start">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/playlists">Playlists</a></li>
                        <li><a href="/genres">Genres</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Featured Album -->

    <div class="featured_album">
        <div class="background_image featured_background" style="background-image:url(/mixtape/images/featured.png)"></div>
        <div class="container">

            <div class="row featured_row row-lg-eq-height">

                <!-- Featured Album Image -->
                <div class="col-md-6">
                    <div class="featured_album_image">
                        <div class="image_overlay"></div>
                        <div th:if="${playlist.picture!=null}" class="background_image">
                            <img th:src="${playlist.picture}">
                        </div>
                        <div th:if="${playlist.getPicture()==null}" class="background_image" style="background-image:url(/mixtape/images/featured_album.jpg)"></div>
                        <!-- <img src="images/featured_album.jpg" alt=""> -->
                    </div>
                </div>

                <!-- Featured Album Player -->
                <div class="col-md-6 featured_album_col">
                    <div class="featured_album_player_container d-flex flex-column align-items-start justify-content-center">
                        <div class="featured_album_player">
                            <div class="featured_album_title_bar d-flex flex-row align-items-center justify-content-start">
                                <div class="featured_album_title_container">
                                    <div class="featured_album_artist" th:text="${playlist.title}">Title</div>
                                    <div class="featured_album_title" th:text="${'Rank:' + playlist.rank}">Rank</div>

                                </div>
                                <div sec:authorize="isAuthenticated()" th:if="${user.getPlaylists().contains(playlist) and !playlist.user.username.equals(#authentication.getName())}" class="featured_album_link ml-auto"><a role="button" th:id="${playlist.id}" onclick="removeFromFavourites(id)">remove from favourites</a></div>
                                <div sec:authorize="isAuthenticated()" th:if="${playlist.user.username.equals(#authentication.getName()) or #authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="featured_album_link ml-auto"><a role="button" onclick="document.getElementById('editform').style.display='block'">edit</a></div>
                                <div sec:authorize="isAuthenticated()" th:if="${!user.getPlaylists().contains(playlist)}" class="featured_album_link ml-auto"><a role="button" th:id="${playlist.id}" onclick="addToFavourites(id)">add to favourites</a></div>
                                <div sec:authorize="isAuthenticated()" th:if="${playlist.user.username.equals(#authentication.getName()) or #authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="featured_album_link ml-auto"><a role="button" th:id="${playlist.id}" onclick="deletePlaylist(id)">delete</a></div>
                                </div>
                            <div id="jplayer_1" class="jp-jplayer"></div>
                            <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                                <div class="jp-type-playlist">
                                    <div class="jp-playlist">
                                        <ul>
                                            <li></li>
                                        </ul>
                                    </div>
                                    <div class="player_details d-flex flex-row align-items-center justify-content-start">
                                        <div class="jp-details">
                                            <div>playing</div>
                                            <div class="jp-title" aria-label="title">&nbsp;</div>
                                        </div>
                                        <div class="jp-controls-holder ml-auto">
                                            <button class="jp-play" tabindex="0"></button>
                                        </div>
                                    </div>
                                    <div class="player_controls">
                                        <div class="jp-gui jp-interface d-flex flex-row align-items-center justify-content-start">
                                            <div class="jp-controls-holder time_controls d-flex flex-row align-items-center justify-content-start">
                                                <div><div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div></div>
                                                <div class="jp-progress">
                                                    <div class="jp-seek-bar">
                                                        <div class="jp-play-bar"></div>
                                                    </div>
                                                </div>
                                                <div><div class="jp-duration ml-auto" role="timer" aria-label="duration">&nbsp;</div></div>
                                            </div>
                                            <div class="jp-volume-controls d-flex flex-row align-items-center justify-content-start ml-auto">
                                                <button class="jp-mute" tabindex="0"></button>
                                                <div class="jp-volume-bar">
                                                    <div class="jp-volume-bar-value"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jp-no-solution">
                                        <span>Update Required</span>
                                        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="editform" class="w3-modal">
                    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">

                        <div class="w3-center"><br>
                            <span onclick="document.getElementById('editform').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
                            <img th:src="${playlist.picture}" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
                        </div>

                        <form class="w3-container" th:action="@{/playlists/__${playlist.id}__}" action="#" method="post" th:object="${playlistDtoEdit}">
                            <div class="w3-section">
                                <label><b>Playlist title</b></label>
                                <label class="error" th:errors="*{title}"/>
                                <input th:field="*{title}" class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter title" name="username" required maxlength=40 minlength=2>
                                <label><b>Genres</b></label>
                                <select th:field="*{genreList}" class="custom-select" multiple required>
                                    <option value="" selected disabled>-- Genre --</option>
                                    <option th:each="genre : ${genres}" name="genreList" th:value="${genre.id}" th:text="${genre.name}">Genre</option>
                                </select>
                                <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Edit playlist</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/mixtape/js/jquery-3.2.1.min.js"></script>
<script src="/mixtape/styles/bootstrap-4.1.2/popper.js"></script>
<script src="/mixtape/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="/mixtape/plugins/greensock/TweenMax.min.js"></script>
<script src="/mixtape/plugins/greensock/TimelineMax.min.js"></script>
<script src="/mixtape/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="/mixtape/plugins/greensock/animation.gsap.min.js"></script>
<script src="/mixtape/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="/mixtape/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/mixtape/plugins/easing/easing.js"></script>
<script src="/mixtape/plugins/progressbar/progressbar.min.js"></script>
<script src="/mixtape/plugins/parallax-js-master/parallax.min.js"></script>
<script src="/mixtape/plugins/jPlayer/jquery.jplayer.min.js"></script>
<script src="/mixtape/plugins/jPlayer/jplayer.playlist.min.js"></script>

<script th:inline="javascript">
    var tracks = [
        /*[# th:each="track : ${playlist.getTracks()}"]*/
        {
            title: /*[[${track.getTitle()}]]*/,
            duration: /*[[${track.durationInSecondsToMinutes()}]]*/,
            mp3: /*[[${track.getPreview()}]]*/
        },
        /*[/]*/
    ]
</script>
<script src="/mixtape/js/custom.js"></script>
<script type="text/javascript">
    function addToFavourites(id) {
        $.ajax({
            type: "POST",
            url: '/playlists/' + id + '/like'
        });
    }

    function removeFromFavourites(id) {
        $.ajax({
            type: "POST",
            url: '/playlists/' + id + '/unlike'
        });
    }

    function deletePlaylist(id) {
        $.ajax({
            type: "POST",
            url: '/playlists/' + id + '/delete',
            success: function (response) {
                window.location.href = "http://localhost:8080/playlists";
                } ,
                error : function(){
                    alert("Error!");
                }
        });
    }
</script>
<script>
    // Get the modal
    var modal = document.getElementById('editform');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>