<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Edit playlist</title>
</head>
<body sec:authorize="hasRole('ROLE_ADMIN')">
<form class="w3-container pt-5" th:action="@{/admin/playlists/__${id}__/edit}" th:object="${playlistDtoEdit}" th:method="post" style="max-width: 65%;margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px;">

    <div class="card text-center">
        <div class="card-body">
            <h1 class="card-title">Edit playlist</h1>
            <label><b>Title</b></label>
            <div class="input-group pl-3 pt-3">
                <label class="error" th:errors="*{title}"/>
                <input class="w3-input w3-border w3-margin-bottom" th:field="*{title}" placeholder="Title" type="text" required maxlength=40 minlength=2>
            </div>
            <label><b>Genres</b></label>
            <div class="input-group pl-3 pt-3">

                <select th:field="*{genreList}" class="custom-select" multiple required>
                    <option value="" selected disabled>-- Genre --</option>
                    <option th:each="genre : ${genres}" name="genreList" th:value="${genre.id}" th:text="${genre.name}">Genre</option>
                </select>
            </div>
            <div class="input-group pl-3 pt-3">
            <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Edit playlist</button>
            </div>
            </div>
    </div>
</form>
<p align="center">or</p>
<form th:action="@{/admin}" style="max-width: 60%;margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px;">
<div class="input-group pl-3">

        <button class="w3-button w3-block w3-green w3-section w3-padding">Back to Admin panel</button>
</div>
</form>
</body>
</html>