<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Profile Page</title>

    <!-- Favicon -->
    <link rel="icon" href="theme/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="theme/style.css">
    <link rel="stylesheet" href="profile-style.css">

</head>

<body sec:authorize="isAuthenticated()">
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a href="/" class="nav-brand">RidePal</a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/playlists">Playlists</a></li>
                                <li><a href="/genres">Genres</a></li>
                                <li th:action="@{/logout}" sec:authorize="isAuthenticated()" th:method="post"><a
                                        th:href="@{/logout}">Logout</a>
                                </li>
                            </ul>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(theme/img/bg-img/bg-2.jpg);">
    <div class="bradcumbContent">
        <h2>Profile</h2>
        <br/>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="profile-content">
                    <form th:action="@{/profile/__${user.id}__/edit}">
                        <button type="submit" class="own-btn"><i class="icon-settings icon-setting"></i></button>
                    </form>
                    <form th:action="@{/profile/__${user.id}__/change-password}">
                        <button type="submit" class="own-btn"><i class="icon-key icon-own-key"></i></button>
                    </form>
                    <div class="login-form">
                        <div>
                            <img src="theme/img/bg-img/bg-1.jpg" alt="Circle Image"
                                 class="profile">
                        </div>
                        <div class="event-text">
                            <div class="event-meta-data">
                                <h2 class="event-text" th:text="${user.username}">Username</h2>
                                <h4 class="event-text" th:text="${user.firstName + ' ' + user.lastName}">Name</h4>
                                <h4 class="event-text" th:text="${user.email}">Email</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="events-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <h2>User's Own and Favorite Playlists</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Event Area -->
            <div class="col-12 col-md-6 col-lg-4" th:each="playlist : ${playlists}">
                <div class="single-event-area mb-30">
                    <div class="event-thumbnail">
                        <img th:src="${playlist.picture}" alt="">
                    </div>
                    <div class="event-text">
                        <h4 th:text="${playlist.title}"></h4>
                        <div class="event-meta-data">
                            <a class="event-place" th:text="${'Duration: ' + playlist.getDurationString()}"></a>
                            <a class="event-date" th:text="${'Rank: ' + playlist.rank}"></a>
                        </div>
                        <a th:href="@{/playlists/__${playlist.id}__}" class="btn see-more-btn">Listen it </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-12 col-md-6">
                <div class="footer-nav">
                    <form th:action="@{/profile/__${user.id}__/delete}" th:method="post"
                          onsubmit='return confirm("Are you sure you want to delete your account?");'>
                        <lable for="delete" class="classynav" style="color: red">If you want to delete your account.
                            Just press the
                            button
                        </lable>
                        <button id="delete" type="submit" class="fa fa-trash" style="color: darkred"> DELETE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="theme/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="theme/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="theme/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="theme/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="theme/js/active.js"></script>
</body>

</html>