<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Registration</title>

    <!-- Favicon -->
    <link rel="icon" href="theme/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="theme/style.css"/>
</head>

<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <a href="/" class="nav-brand">RidePal</a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/playlists">Playlists</a></li>
                                <li><a href="/genres">Genres</a></li>
                                <li><a href="/login">Login</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(theme/img/bg-img/breadcumb3.jpg);">
    <div class="bradcumbContent">
        <h2>Registration</h2>
        <br/>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Welcome</h3>
                    <!-- Registration Form -->
                    <div class="login-form">
                        <p>
                            <i th:if="${error != null}" th:text="${error}" class="error"></i>
                        </p>
                        <form th:action="@{/registration}" th:object="${user}" method="post">
                            <div class="form-group">
                                <label for="exampleInputUsername1">Username</label>
                                <input type="text" class="form-control" id="exampleInputUsername1"
                                       th:field="*{username}" placeholder="Enter Username">
                                <label class="error" th:errors="*{username}"/>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" th:field="*{email}" placeholder="Enter E-mail">
                                <label class="error" th:errors="*{email}"/>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                       th:field="*{password}" placeholder="Password">
                                <label class="error" th:errors="*{password}"/>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputConfirmPassword1">Confirm Password</label>
                                <input type="password" class="form-control" id="exampleInputConfirmPassword1"
                                       th:field="*{confirmPassword}" placeholder="Confirm Password">
                                <label class="error" th:errors="*{confirmPassword}"/>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFirstName1">First Name</label>
                                <input type="text" class="form-control" id="exampleInputFirstName1"
                                       th:field="*{firstName}"
                                       placeholder="Enter First Name">
                                <label class="error" th:errors="*{firstName}"/>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputLastName1">Last Name</label>
                                <input type="text" class="form-control" id="exampleInputLastName1"
                                       th:field="*{lastName}"
                                       placeholder="Enter Last Name">
                                <label class="error" th:errors="*{lastName}"/>
                            </div>
                            <button type="submit" class="btn oneMusic-btn mt-30">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area"></footer>
<!-- ##### Footer Area Start ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="theme/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="theme/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="theme/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="theme/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="theme/js/active.js"></script>
</body>

</html>